<p>Balanced Life</p>

<div>
    <ul class="nav-bar">
        <li><a href="./pages/physical.html">Physical</a></li>
        <li><a href="./pages/emotional.html">Emotional</a></li>
        <li><a href="./pages/mental.html">Mental</a></li>
        <li><a href="./pages/contact.html">Contact Us</a></li>
    </ul>
</div>

<div>
    <p>Sign up our newsletter</p>
    <form action="">
        <input type="text" placeholder="Your email">
        <button>I want</button>
    </form>
</div>

<div>
    <ul>
        <li>facebook</li>
        <li>instagram</li>
        <li>twitter</li>
    </ul>
</div>

<p>copyright 2020 - Sandy Souza Santos</p>