<div class="logo">
    <h1>Balanced Life</h1>
</div>

<nav>
    <ul class="nav-bar">
        <li><a href="./pages/physical.html">Physical</a></li>
        <li><a href="./pages/emotional.html">Emotional</a></li>
        <li><a href="./pages/mental.html">Mental</a></li>
        <li><a href="./pages/contact.html">Contact Us</a></li>
    </ul>
</nav>